.main {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 5%;
}

.main h1 {
    text-align: center;
    font-size: 2em;
    color: orangered;
}

.main h2 {
    color: grey;
}

.main h2, main h3 {
    text-align: left;
}

.main h3 {
    color: orangered;
}

.main h5 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-size: 1em;
    font-weight: normal;
}

main article {
    margin: 0;
    padding: 0;
}

.main li {
    margin: 1em 0;
    text-align:justify;
}

.main a#gitlink {
    margin: 0;
    padding: 10px 0;
    text-decoration:none;
    color: grey;
}
.main a#gitlink:hover, .main a#gitlink:active, .main a#gitlink:visited {
    text-decoration:none;
    border: none;
}
.main a#gitlink:hover {
    color: orangered;
}

.main p {
    text-align:justify;
}

.main strong {
    color: grey;
    font-weight: normal;
    text-decoration:underline;
}

.main span {
    color: forestgreen;
    font-family: courier;
    font-size: 0.8em;
}

