body {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    border: 20px solid white;
    font-size: 16px
}

header {
    margin: 20px auto 30px auto;
}

img {
	max-width: 100%;
}
/*correction-6*/
.resto p.desc {
    text-align: justify;
}

/* notre menu */
.menu-toggle {
	display: none;
	text-decoration: none;
	color:orange;
	font-weight: bold;
	font-size: 1.5em
}
nav {
	text-align: center;
}
nav ul {
	list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
    display: block; /*Part-2: menu modification*/
    width: 150px; /*Part-2: menu modification*/
	text-decoration: none;
	color:orange;
	background-color: white;
	border:1px solid orange;
	border-radius: 5px;
	padding: 5px 15px;
    margin: 10px;
    font-size: 1.25em;
	transition: all .5s;
}
nav	ul li a:hover {
    color:white;
    background-color: orange;
}
/* fin du menu */

.container {
	box-sizing: border-box;
	width: 1200px;
	padding:10px;
	margin:0 auto;
}
.resto{
	box-sizing: border-box;
	width: 100%;
	min-height: 300px;
	padding: 5px;
	margin-bottom: 2em;
	background: white;
	box-shadow: 2px 2px 8px #cecece;
	overflow: hidden;
	position: relative;
}

}
.resto>div:after {
	 content: '';
    display: block;
    clear: both;
}
figure {
	margin :0;
	padding: 0;
	float:left;
	width: 30%
}
figure.float-droite {
	float:right;
}

.content {
	box-sizing: border-box;
	margin:0 1%;
	float: left;
	width: 68%;
	padding: 0 1em;
	position: relative;
}
.adresse, .tel {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
    text-align: right;
    position: absolute;
    right:0;
    margin:0;
}
.adresse {
	top:0;
}
.tel {
	top: 20px;
}

h2 {
	margin: 0 0 2em;
}
.more {
	text-decoration: none;
	background:orange;
	padding: 5px 10px;
	color:white;
	position: absolute;
	bottom:10px;
	right:10px;
}

@media screen and (max-width:1300px) {
    .container {
        width: 96%;
        padding: 2%;
        margin: 0 auto;
    }
}

/*Part-2: menu modification:*/
@media screen and (max-width:992px) {
    nav ul li a {
        width: 130px;
        margin: 5px;
        font-size: 1em;
    }
}

@media screen and (max-width:768px) {
    body {
        border: none;
    }

    .container {
        width: 98%;
    }

    .resto {
        padding-bottom: 50px; /*correction-1, correction-3*/
    }
    /*correction-4*/
    .adresse, .tel {
        position: static;
        text-align: left;
        margin: 0.5em 0;
    }

    h2 {
        margin: 0 0 1em;
    }

    /*Part-2: menu modification:*/
    nav ul li a {
        width: 100px;
        margin: 2.5px;
    }
}

@media screen and (max-width:640px) {
    body {
        border: none;
    }

    .container {
        width: 100%;
    }

    figure, figure.float-droite, .content {
        float: none;
        width: 100%
    }

    h2 {
        margin: 0 0 0.5em;
    }

    /* notre menu pour le mobile */
    .menu-toggle {
        display: block;
        padding: 10px;
    }

    nav {
        display: none;
        text-align: left;
    }

        nav ul {
            padding: 0;
            list-style-type: none;
        }

            nav ul li {
                display: block;
            }

                nav ul li a {
                    display: block;
                    min-width: 60%; /*Part-2: menu modification:*/
                    text-decoration: none;
                    text-align: center;
                    color: orange;
                    background-color: white;
                    transition: all .5s;
                    border-radius: 0;
                }

    .open {
        display: block;
    }
}